.wrap {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.75rem;
  text-align: center;
  height: 30rem;
  
  & > div::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
}

.div {
  min-width: 10rem;
  flex: 1;
}

.element1 {
  @extend .div;
  background: red;
}

.element2 {
  @extend .div;
  background: green;
}

.element3 {
  @extend .div;
  background: hotpink;
}

.element4 {
  @extend .div;
  background: blue;
}
