.wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 50rem;
  height: 30rem;
}

.div {
  min-width: 10rem;
  flex: 1;
}

.div1 {
  @extend .div;
  background: red;
}

.div2 {
  @extend .div;
  background: green;
}

.div3 {
  @extend .div;
  background: hotpink;
}

.div4 {
  @extend .div;
  background: blue;
}
