:root {
  --bg-color: #BBBBBB;
}

.flex {
  display: flex;
  background: var(--bg-color);
  margin: 0 auto;
  width:  50rem;
  height: 30rem;
}

.div1 {
  flex: 1;
  background: red;
}

.div2 {
  flex: 2;
  background: green;
}

.div3 {
  flex: 1;
  background: yellow;
}

.div4 {
  flex: 1;
  background: blue;
}
